<div class="center">

   <form class="form-center" [formGroup]="cardEditForm">

     <mat-form-field appearance="fill">
       <mat-label>Title</mat-label>
       <input matInput placeholder="Title">
       <mat-icon matSuffix>text_format</mat-icon>
     </mat-form-field>

     <mat-form-field appearance="fill">
       <mat-label>Description</mat-label>
       <input matInput placeholder="Description">
       <mat-icon matSuffix>description</mat-icon>
     </mat-form-field>

     <mat-form-field appearance="fill">
       <mat-label>Status</mat-label>
       <input matInput placeholder="Status">
       <mat-icon matSuffix>layers</mat-icon>
     </mat-form-field>

     <mat-form-field appearance="fill">
       <mat-label>Position</mat-label>
       <input matInput placeholder="Position">
       <mat-icon matSuffix>format_list_numbered</mat-icon>
     </mat-form-field>

     <mat-form-field appearance="fill">
       <mat-label>Assignee</mat-label>
       <mat-select>
         <mat-option value="option">Option</mat-option>
       </mat-select>
     </mat-form-field>

     <button mat-button color="primary" type="submit">Submit</button>

   </form>


</div>

