<div>
  <div class="center">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{card.title}}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        {{card.description}}
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content>
        Status: {{card.status}}
      </mat-card-content>
      <mat-card-content>
        Position: {{card.position}}
      </mat-card-content>
      <mat-card-content>
        AssigneeId: {{card.asigneeId}}
      </mat-card-content>
      <mat-card-content>
        Created date: {{card.createdAt}}
      </mat-card-content>
      <mat-card-content>
        Modified date: {{card.modifiedAt}}
      </mat-card-content>
    </mat-card>
  </div>
</div>

