.login-center{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card-input{
  margin-bottom: 10px;
}

p-card {
  margin: auto;
}

p-button {
  align-content: center;
}
